
#root{
  
  background-color: lightgray;
  /* background-color: white; */
  height:100vh;
  display:flex;

  
}
.wholePage{
  display:flex;
  align-items: center;
  border:4px solid black;
  width:90vw;
  height:90vh;
  margin:auto;
  box-shadow: -2px 5px 5px  rgb(31, 31, 31);
  /* background-color: rgb(102, 1, 196); */
}

.mainFrame1{
display:flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
/* background-color: rgb(102, 1, 196); */
width:40%;
height:100%;
background-image: url("../src/assets/smallSkull3.png");
background-repeat: repeat;




}

.mainPicDiv{
  width:60%;
  height:45%;
  display:flex;
  background-color: white;
  border:3px solid black;
  box-shadow: -8px 5px 5px  rgb(6,6,6);
  border-radius: 5px;

}
.picSize{
  width:100%;
  height:100%;
  border-radius: 5px;
 
}

.nameColumn{
  display:flex;
  flex-direction: column;
  align-items: center;
  border:3px solid black;
  box-shadow: -8px 5px 5px  rgb(6, 6, 6);
  background-color: white;
  border-radius: 5px;

}

.name{
  font-weight:600;
  font-size:3vmin;
  color:rgb(2, 104, 104);
  
  
  


}
.line{
  width:80%;
  height: 2px;
  background-color:black

}
.title{
  font-size:3vmin;
  color:rgb(2, 104, 104);
  

}
.picsRow{
  display:flex;
  width:80%;
  height:13%;
  background-color: white;
  align-items: center;
  border:3px solid black;
  box-shadow: -8px 5px 5px  rgb(6, 6, 6);
  border-radius: 5px;


}

.iconPic1{
  width:33.3%;
  height:100%

}
.iconPic2{
  width:29.3%;
  height:60%;
  margin-left: 4%;

}
.iconPic3{
  width:33.3%;
  height:65%;
  
}

.picSize2{
  height:100%;
  width:100%;
}

.linksColumn{
  display:flex;
  flex-direction: column;
  width:80%;
  background-color: white;
  align-items: center;
  border:3px solid black;
  box-shadow: -8px 5px 5px  rgb(6, 6, 6);
  border-radius: 5px;

}

.infoColumn{
  display:flex;
  flex-direction: column;
  width:100%;
  margin-left: 6%;

}
.titleLink{

  font-size: 2vmin;
  font-weight: 600;
  color:rgb(2, 104, 104);
}
.link{
  font-size: 1.9vmin;
  word-break: break-all;
  
  color: rgb(2, 104, 104)
}



.mainFrame2{
  width:60%;
 
  height:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
 
}

.contentSection{
height:90%;


width:100%;
border-left:3px solid black;
display:flex;
align-items: center;
justify-content: center;
background-color: rgb(2, 104, 104);
/* background-color: rgb(55, 114, 196); */


}

.content{
  border:3px solid black;
  height:95%;
  width:80%;
  max-height: 95%;
  overflow-y:auto;
  overflow-x:hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: keep-all;
  /* gap:2%; */
  box-shadow: -8px 5px 5px  rgb(6,6,6);
  border-radius: 5px;

}
.contentDiv{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  height:100%;
  justify-content: center;
  /* background-color: rgb(102, 1, 196,0.5); */
  
  background-color: white;
  /* background-color: lightgray; */
  /* border-bottom: 3px solid gray; */

  


}









.title2{
  font-size: 5vmin;
  border-bottom: 3px solid rgb(2, 104, 104) ;
  
  color:rgb(2, 104, 104);

}

.contactTitle{
  font-size: 2vmin;
  color:rgb(2, 104, 104);
  text-align: center;
  width:80%

}

.text{
  overflow-wrap: break-word;
  width:100%;
  text-align: center;
  font-size: 3vmin;
  
  color:rgb(2, 104, 104);
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 2%;
  
}

.text2{
  width:100%;
  height:50%;
  display:flex;
  justify-content: center;
}

.text3{
  width:80%;
  height:80%; 
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border:3px solid rgb(2, 104, 104);
  border-radius:5px;
  margin-bottom: 5%;
  background-color: lightgray;

}
form{
  display:flex;
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 2%;
  width:95%;
  height:95%;
  
}

.marg{
  margin-top:5%;

}
.font{
  font-size: 3vmin;
 color: rgb(2, 104, 104)
}
.btn2{
  background-color: white;
  cursor:pointer;
}


.inputSize{
  width:95%;
  max-width: 95%;
   

}
.textareaSize{
  width:95%;
  max-width: 95%;
  max-height:40%;
}

.picRow{
  overflow-wrap: break-word;
  width:100%;
  height:30%;
  
  text-align: center;
  font-size: 3vmin;
  color:white;
  display:flex;
  justify-content: space-evenly;
  margin-top: 3%;
  margin-bottom:4%

}




.picLinkColumn{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.miniTitle{
  font-size: 1.7vmin;
  font-weight: 600;
  margin-bottom: 3%;
height:5vmin;
display:flex;
align-items: center;
justify-content: center;
width:100%;
color:rgb(2, 104, 104);



}

.projectPicSize{
  
  height: 10vmin;

  
  width:10vmin;
  border-radius: 5px;
  border:3px solid rgb(2, 104, 104);
  cursor:pointer;
  
}

.link2{
  font-size: 1.9vmin;
  word-break: break-all;
  color:rgb(102, 1, 196);
  width:80%;
  margin-top: 3%;
}

.bigPicSize{
  width:95%;
  height:100%;
  border-radius: 5px;
  border:3px solid rgb(2, 104, 104);
}

.iconPicSize{
  width:7vmin;
  margin-bottom: 5%;
  border-radius: 10px;
  border:3px solid rgb(2, 104, 104);
}



.navSection{
  width:100%;
  height:10%;
  display:flex;
  align-items: center;
  justify-content: space-around;
  background-image: url("../src/assets/skull.png");
  background-size:contain;
  border-top: 3px solid black;

}

.btn{
  color:rgb(2, 104, 104);
 
  background-color: white;
  cursor:pointer;
  height:4vmin;
  width:14vmin;
  font-size: 2.5vmin;
}